.employee-container {
  display: flex;
  min-height: 90vh;
  background: linear-gradient(135deg, #fafafa, #ffffff);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.employee-left, .employee-right {
  padding: 1rem 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.employee-left {
  flex: 1;
  background-color: #f9f9ff;
  padding: 1rem 2rem;
}

.employee-left button {
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  background-color: #0288d1;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.employee-left button:hover {
  background-color: #01579b;
}


.employee-left h2 {
  font-size: 2.5rem;
  color: #37474f;
  margin-bottom: 2rem;
}

.employee-left p {
  margin: 0.5rem 0;
  font-size: 1.1rem;
  color: #546e7a;
}

.employee-left strong {
  color: #0d47a1;
}

.employee-right {
  flex: 2;
  background-color: #e3f2fd;
  padding: 1rem 2rem;
}

.employee-right h3 {
  font-size: 2rem;
  color: #0d47a1;
  margin-bottom: 1rem;
}

.employee-right select, .employee-right input[type="date"], .employee-right button {
  font-size: 1rem;
  padding: 0.6rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  border: 1px solid #0d47a1;
  background-color: #ffffff;
  color: #37474f;
  transition: all 0.3s ease;
}

.employee-right select:hover, .employee-right input[type="date"]:hover, .employee-right button:hover {
  background-color: #bbdefb;
  color: #0d47a1;
  border-color: #0d47a1;
}

.employee-right select:focus, .employee-right input[type="date"]:focus, .employee-right button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(13, 71, 161, 0.4);
  border-color: #0d47a1;
}

.employee-right button {
  cursor: pointer;
  background-color: #0d47a1;
  color: #ffffff;
}

.employee-right button:hover {
  background-color: #0a3680;
}

.photo-box img {
  width: 320px;
  height: fit-content;
  border-radius: 6px;
  margin: 0 20px;
  transition: width 0.5s;
}

.photo-box img:hover {
  box-shadow: 0 0 10px #3c3c3c;
  width: 360px;
}
