<app-navbar-admin></app-navbar-admin>
<div class="employee-container" *ngIf="employee">
  <div class="employee-left">
    <h2>Employee Information: </h2>
    <p><strong>Username:</strong> {{ employee?.username }}</p>
    <p><strong>Name:</strong> {{ employee?.name }}</p>
    <p><strong>Surname:</strong> {{ employee?.surname }}</p>
    <button (click)="suspend()">Suspend</button>
    <br><br><br>
    <div class="photo-box" *ngIf="employee?.userPhoto; else noImages">
      <img [src]="'data:image/jpeg;base64,' + image" alt="Employee Profile Image" />
    </div>
  </div>

  <ng-template #noImages>
    <p>No images available.</p>
  </ng-template>

  <div class="employee-right">

  </div>
</div>
