<mat-toolbar color="primary">
  <img src="assets/electric-tower.png" alt="Logo" class="logo">
  <h1 class="title">Electro Power </h1>
  <span class="spacer"></span>
  <mat-icon class="icon">
    <span class="material-icons-outlined">menu</span>
  </mat-icon>
  <!--
<span class="material-icons special-icon">account_circle</span>
-->

  <button mat-button type="button" class="text1" [matMenuTriggerFor]="accountMenu">My Account</button>
  <mat-menu class="mat-menu-panel" #accountMenu="matMenu">
    <button routerLink="/real-estate-requests/admin/requests" type="button" mat-menu-item class="text"><span class="material-icons">home</span>
      Home</button>
    <button routerLink="/search-households" type="button" mat-menu-item class="text"><span class="material-icons">search</span>
      Search households</button>
    <button routerLink="/admin/city-consumption" type="button" mat-menu-item class="text"><span class="material-icons">search</span>
      City consumption</button>
    <button routerLink="/manage-household-requests" type="button" mat-menu-item class="text">
      <span class="material-icons">manage_accounts</span>
      Household Ownership Requests
    </button>
    <button routerLink="/view-employees" type="button" mat-menu-item class="text"><span class="material-icons">person</span>
      Employees</button>
    <button mat-menu-item type="button" class="text"  (click)="menuItemClicked('logout')"><span class="material-icons">logout</span>Logout</button>



  </mat-menu>


  <div class="rectangle37"></div>

</mat-toolbar>
