<app-navbar-citizen></app-navbar-citizen>

<div class="whole-page">
  <h2>Households Without Owners</h2>

  <div class="result-part">
    <table class="households-table" *ngIf="page.content.length>0; else noData" >
      <thead>
      <tr>
        <th>#</th>
        <th>Household ID</th>
        <th>Floor</th>
        <th>Apartment Number</th>
        <th>Square Footage</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let household of page?.content; let i = index"
          (click)="onHouseholdClick(household)"
          class="clickable-row"
      >
        <td>{{ i + 1 + (currentPage - 1) * pageSize }}</td>
        <td>{{ household.id }}</td>
        <td>{{ household.floor }}</td>
        <td>{{ household.apartmentNumber }}</td>
        <td>{{ household.squareFootage }} m²</td>
      </tr>
      </tbody>
    </table>
  </div>

  <ng-template #noData>
    <p class="no-data-message">No households without owners found.</p>
  </ng-template>

  <div class="pagination">
    <button [disabled]="currentPage <= 1" (click)="onPageChange(page.number - 1)">
      Previous
    </button>
    <span>Page {{ currentPage }} of {{ page.totalPages }}</span>
    <button [disabled]="currentPage > page.totalPages - 1" (click)="onPageChange(page.number + 1)">
      Next
    </button>
  </div>
</div>
