<app-navbar-citizen></app-navbar-citizen>
<div class="body">
  <div class="stepper-container">
    <div class="stepper-header">
      <div [class.active]="currentStep === 1" (click)="goToStep(1)">1 - Real Estate</div>
      <div [class.active]="currentStep === 2" (click)="goToStep(2)">2 - Households</div>
      <div [class.active]="currentStep === 3" (click)="goToStep(3)">3 - Documentation</div>
    </div>

    <div class="content-container">
      <div class="stepper-content">
        <div class="helper-div" *ngIf="currentStep === 1">
          <app-map (addressChange)="onAddressChange($event)"></app-map>
          <form class="content-form" [formGroup]="realEstateForm" (ngSubmit)="nextStep()">
            <label>*Address</label>
            <input formControlName="address" type="text" />
            <label>*City</label>
            <select formControlName="city" (change)="onCityChange($event)">
              <option *ngFor="let city of cities" [value]="city">{{ city }}</option></select>
            <label>*Municipality</label>
            <select formControlName="municipality">
              <option *ngFor="let municipality of citiesAndMunicipalities[selectedCity] || []" [value]="municipality">{{ municipality }}</option>
            </select>
            <label>*Floors
              <span style="font-size:0.7em;color:rgb(128,128,128);">(min: 0)</span></label>
            <input formControlName="floors" type="number" />
            <label>*Images
              <span style="font-size:0.7em;color:rgb(128,128,128);">(min: 1)</span></label>
            <input class="file-input" type="file" (change)="onFileSelected1($event)" multiple />
            <div class="files"></div>
            <div class="next-btn-container">
              <button class="next-btn" type="submit">Next</button>
            </div>
          </form>
        </div>

        <div class="helper-div2" *ngIf="currentStep === 2">
          <form class="content-form2" [formGroup]="householdForm" (ngSubmit)="addHousehold()">
            <label>*Floor
              <span style="font-size:0.7em;color:rgb(128,128,128);">(min: 0)</span></label>
            <input formControlName="floor" type="number" />
            <label>*Square footage
              <span style="font-size:0.7em;color:rgb(128,128,128);">(min: 10)</span></label>
            <input formControlName="squareFootage" type="number" />
            <label>*Apartment number
              <span style="font-size:0.7em;color:rgb(128,128,128);">(min: 1)</span></label>
            <input formControlName="apartmentNumber" type="number" />
            <button class="add-btn" type="submit">Add household</button>
          </form>
          <div class="next-btn-container">
            <button class="next-btn" (click)="nextStep()">Next</button>
          </div>
        </div>

        <div class="content-form" *ngIf="currentStep === 3">
          <label>*Documentation
            <span style="font-size:0.7em;color:rgb(128,128,128);">(min: 1)</span></label>
          <input class="file-input" type="file" (change)="onFileSelected2($event)" multiple />
          <div class="files"></div>
          <div class="next-btn-container">
            <button class="next-btn" (click)="submit()">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
