.employee-container {
  display: flex;
  min-height: 90vh;
  background: linear-gradient(135deg, #fafafa, #ffffff);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.employee-left, .employee-right {
  padding: 1rem 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.employee-left {
  flex: 1;
  background-color: #f9f9ff;
  padding: 1rem 2rem;
}

.employee-left button {
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  background-color: #0288d1;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.employee-left button:hover {
  background-color: #01579b;
}


.employee-left h2 {
  font-size: 2rem;
  color: #37474f;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.employee-left p {
  margin: 0.5rem 0;
  font-size: 1.1rem;
  color: #546e7a;
}

.employee-left strong {
  color: #0d47a1;
}

.employee-right {
  flex-direction: row;
  flex: 3;
  background-color: #e3f2fd;
  padding: 1rem 2rem;
}

.employee-right h3 {
  font-size: 2rem;
  color: #37474f;
  margin-bottom: 1rem;
}

.employee-right select, .employee-right input[type="date"], .employee-right button {
  font-size: 1rem;
  padding: 0.6rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  border: 1px solid #0d47a1;
  background-color: #ffffff;
  color: #37474f;
  transition: all 0.3s ease;
}

.employee-right select:hover, .employee-right input[type="date"]:hover, .employee-right button:hover {
  background-color: #bbdefb;
  color: #0288d1;
  border-color: #0d47a1;
}

.employee-right select:focus, .employee-right input[type="date"]:focus, .employee-right button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(13, 71, 161, 0.4);
  border-color: #0288d1;
}

.employee-right button {
  cursor: pointer;
  background-color: #0288d1;
  color: #ffffff;
}

.employee-right button:hover {
  background-color: #0288d1;
}

.photo-box img {
  width: 320px;
  height: fit-content;
  border-radius: 6px;
  margin: 0 20px;
  transition: width 0.5s;
}

.photo-box img:hover {
  box-shadow: 0 0 10px #3c3c3c;
  width: 360px;
}


.form-group {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.form-group select,
.form-group input[type="number"],
.form-group input[type="date"] {
  flex: 1;
  padding: 0.6rem;
  border-radius: 6px;
  border: 1px solid #0288d1;
  background-color: #ffffff;
  color: #37474f;
}

.form-group input[type="date"] {
  max-width: 10rem;
}

.simple-calendar {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5rem;
}

.day, .date {
  text-align: center;
  padding: 0.5rem;
}

.date div {
  padding: 0.5rem;
}

.date .clicked {
  border: 2px solid #0288d1;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  display: inline-block;
  text-align: center;
  padding: 0;
}

.appointments-section {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #f9f9ff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 4rem;
  width: 50%;
}

.appointments-section h4 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.appointments-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.appointment-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.5rem;
  background-color: #f9f9ff;
}

.appointment-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
  border: 1px solid #cccccc;
  border-radius: 4px;
  margin-bottom: 0.5rem;
  background-color: #f9f9ff;
}

.appointment-item .time {
  font-size: 1rem;
  color: #37474f;
}

.appointment-item .user {
  font-size: 0.9rem;
  color: #37474f;
}

.appointment-item .status {
  font-size: 0.85rem;
  text-transform: capitalize;
}

.appointment-item .CREATED {
  color: #0288d1;
}

.appointment-item .FINISHED {
  color: #37474f;
}

.appointment-item .CANCELLED {
  color: #dc3545;
}

.no-appointments {
  color: #6c757d;
  margin-top: 2.5rem;
  text-align: center;
  font-size: 1rem;
}


