<app-navbar-citizen></app-navbar-citizen>
<div class="background">
  <div class="placeholder">
    <div class="h-background">
      <h2>Electricity Receipts</h2>
    </div>
    <div class="sort-filter">
      <button class="toggle-filters-btn" (click)="toggleFilters()">
        {{ showFilters ? '×' : 'Filters' }}
      </button>
      <div class="filter" *ngIf="showFilters" >
        <!--<label>Filters:&nbsp;&nbsp;&nbsp;</label>-->
        <label>
          Status:
          <select class="filter-select" [(ngModel)]="filterParams.status" (ngModelChange)="applyFilters()">
            <option value="">All</option>
            <option value="Paid">Paid</option>
            <option value="Not Paid">Not Paid</option>
          </select>
        </label>
        <div class="dates">
          <label>
            Created From Date:
            <input type="date" [(ngModel)]="filterParams.createdFromDate" (ngModelChange)="applyFilters()" />
          </label>
          <label>
            Created To Date:
            <input type="date" [(ngModel)]="filterParams.createdToDate" (ngModelChange)="applyFilters()" />
          </label>
        </div>
        <div class="dates">
          <label>
            Paid From Date:
            <input type="date" [(ngModel)]="filterParams.finishedFromDate" (ngModelChange)="applyFilters()" />
          </label>
          <label>
            Paid To Date:
            <input type="date" [(ngModel)]="filterParams.finishedToDate" (ngModelChange)="applyFilters()" />
          </label>
        </div>
        <div class="dates">
          <label>
            Price From:
            <input type="number" [(ngModel)]="filterParams.priceFrom" (ngModelChange)="applyFilters()" />
          </label>
          <label>
            Price To:
            <input type="number" [(ngModel)]="filterParams.priceTo" (ngModelChange)="applyFilters()" />
          </label>
        </div>
        <div class="dates">
          <label>
            Consumption From:
            <input type="number" [(ngModel)]="filterParams.consumptionFrom" (ngModelChange)="applyFilters()" />
          </label>
          <label>
            Consumption To:
            <input type="number" [(ngModel)]="filterParams.consumptionTo" (ngModelChange)="applyFilters()" />
          </label>
        </div>
        <div class="address">
          <label>
            Household Address:
            <input type="text" [(ngModel)]="filterParams.address" (ngModelChange)="applyFilters()" />
          </label>
        </div>
        <button class="reset-btn" (click)="resetFilters()">Reset Filters</button>
      </div>
      <div class="sort">
        <label >Sort by:&nbsp;&nbsp;&nbsp;</label>
        <select [(ngModel)]="sortType" (ngModelChange)="sortReceipts()" >
          <option value="createdAtAsc">Created Date (Ascending)</option>
          <option value="createdAtDesc">Created Date (Descending)</option>
          <option value="finishedAtAsc">Payment Date (Ascending)</option>
          <option value="finishedAtDesc">Payment Date (Descending)</option>
          <option value="priceAsc">Price (Ascending)</option>
          <option value="priceDesc">Price (Descending)</option>
          <option value="consumptionAsc">Consumption (Descending)</option>
          <option value="consumptionDesc">Consumption (Descending)</option>
        </select>
      </div>
    </div>
    <div *ngFor="let receipt of filteredReceipts" class="card_div">
      <app-receipts-card [routerLink]="['/receipt', receipt.id]" [receipt]="receipt" ></app-receipts-card>
    </div>
  </div>
</div>
