mat-card, .mat-mdc-card{
  background-color: transparent;
  border: 0;
  box-shadow: none;
}

.real-estate-request-card {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 6px;
  height: 8rem;
  padding: 1.4rem;
  background-color: white;
}

.card-left, .card-right {
  flex: 1;
  width: 50%;
}

.card-right {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.address {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0 0 20px 0;
  color: #0d47a1;
}

.location {
  font-size: 1em;
  margin: 4px 0;
  color: #37474f;
}

h3{
  font-weight: normal;
}

.status {
  font-size: 1.1em;
  margin: 0 0 8px;
  color: #37474f;
}

.date {
  font-size: 0.9em;
  color: #37474f;
  margin: 5px 0;
}
