.mainDiv {
  display: flex;
  min-height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  font-family: 'Open Sans', sans-serif;
}

.cardStyle {
  width: 500px;
  background: #fff;
  padding: 36px 0;
  border-radius: 4px;
  margin: 30px 0;

  box-shadow: 0px 0 2px 0 rgba(0,0,0,0.25);
}

#signupLogo {
  max-height: 100px;
  display: block;
  margin: 0 auto;
}

.formTitle {
  font-weight: 600;
  margin-top: 20px;
  color: #0d47a1;
  text-align: center;
}

.inputLabel {
  font-size: 12px;
  color: #00695c;
  margin-bottom: 6px;
  margin-top: 24px;
}

.inputDiv {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

input {
  height: 40px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0 11px;
}

.buttonWrapper {
  margin-top: 40px;
}

.submitButton {
  width: 70%;
  height: 40px;
  margin: auto;
  display: block;
  color: #fff;
  background-color: #0288d1;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  position: relative;
}

.submitButton:disabled {
  background-color: #cccccc;
  color: #666666;
}

#loader {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #666666;
  width: 14px;
  height: 14px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}
