<div class="mainDiv">
  <div class="cardStyle">
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" id="changePasswordForm">

      <!-- Optional Logo -->
      <h2 class="formTitle">
        Change Your Password
      </h2>

      <!-- New Password Input -->
      <div class="inputDiv">
        <label class="inputLabel" for="password">New Password</label>
        <input type="password" id="password" formControlName="newPassword" placeholder="Enter new password" required>
        <!-- Error Message for New Password -->
        <div *ngIf="changePasswordForm.get('newPassword')?.invalid && changePasswordForm.get('newPassword')?.touched" class="error">
          Password is required and must be at least 6 characters long.
        </div>
      </div>

      <!-- Confirm Password Input -->
      <div class="inputDiv">
        <label class="inputLabel" for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirm new password" required>
        <!-- Error Message for Confirm Password -->
        <div *ngIf="changePasswordForm.get('confirmPassword')?.invalid && changePasswordForm.get('confirmPassword')?.touched" class="error">
          Passwords must match.
        </div>
        <!-- Custom error message when passwords don't match -->
        <div *ngIf="changePasswordForm.hasError('passwordsDoNotMatch')" class="error">
          The passwords do not match.
        </div>
      </div>

      <div class="buttonWrapper">
        <button type="submit" id="submitButton" class="submitButton" [disabled]="changePasswordForm.invalid">
          Update Password
        </button>
      </div>

    </form>
  </div>
</div>
