.background {
  background-color: #f0f4f8;
  min-height: 100vh;
  height: fit-content;
  padding: 2rem 8rem;
}

.placeholder {
  height: fit-content;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h-background{
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2{
  color: #0d47a1;
  margin: 15px 50px;
  width: fit-content;
  font-size: 30px;
  font-stretch: extra-expanded;
}

app-owner-request-card {
  background-color: transparent;
  height: fit-content;
}

.card_div {
  width: 50%;
  height: fit-content;
  max-height: min-content;
  margin: 2px;
}

.sort-filter{
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
  width: fit-content;
}

.sort{
  flex: 1;
  color: #00796b;
  display: flex;
  flex-direction: column;
}

.filter{
  flex: 1;
  color: #00796b;
}

.filer label, .sort label {
  width: fit-content;
}

.filter select, .sort select {
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #90a4ae;
  border-radius: 6px;
  color: #00796b;
}

.filter select, .sort select:focus {
  border-color: #37474f;
  outline: none;
}



