<div class="household-container" *ngIf="household">
  <div class="household-left">
    <h2>Household Information: </h2>
    <p><strong>Apartment Number:</strong> {{ household?.apartmentNumber }}</p>
    <p><strong>Square Footage:</strong> {{ household?.squareFootage }} m<sup>2</sup></p>
    <p><strong>Floor:</strong> {{ household?.floor }}</p>
    <p><strong>Address:</strong> {{ household?.address }}</p>
    <p><strong>Municipality:</strong> {{ household?.municipality }}</p>
    <p><strong>Town:</strong> {{ household?.town }}</p>
    <p><strong>Owner ID:</strong> {{ household?.ownerId }}</p>
  </div>

  <div class="household-right">
    <h3>Availability: </h3>
    <div class="time-range-container">
      <select id="timeRange" [(ngModel)]="timeRange" (ngModelChange)="updateChart()">
        <option value="3">Last 3 Hours</option>
        <option value="6">Last 6 Hours</option>
        <option value="12">Last 12 Hours</option>
        <option value="24">Last 24 Hours</option>
        <option value="week">Last 7 Days</option>
        <option value="month">Last Month</option>
        <option value="3months">Last 3 Months</option>
        <option value="year">Last Year</option>
        <option value="custom">Custom dates</option>
      </select>

      <input type="date" id="startDate" [(ngModel)]="startDate">
      <input type="date" id="endDate" [(ngModel)]="endDate">

      <button (click)="updateChart()">Fetch Data</button>
    </div>

    <div class="availability-data" *ngIf="onlinePercentage !== undefined">
      <p><strong>Online Duration:</strong> {{ onlineDuration }} seconds</p>
      <p><strong>Offline Duration:</strong> {{ offlineDuration }} seconds</p>
      <p><strong>Online Percentage:</strong> {{ onlinePercentage | number:'1.2-2' }}%</p>
      <p><strong>Offline Percentage:</strong> {{ offlinePercentage | number:'1.2-2' }}%</p>
    </div>

    <div class="graph-container" *ngIf="chartData.labels != undefined && chartData.labels.length > 0">
      <div class="time-range-container">
      <h4>Availability chart: </h4>
      <div class="chart-type-selector">
        <label for="chartType">Select Chart Type:</label>
        <select id="chartType" [(ngModel)]="chartType" (ngModelChange)="updateChartType()">
          <option value="bar">Bar Chart</option>
          <option value="line">Line Chart</option>
        </select>
      </div>
      </div>
      <canvas
        baseChart
        [type]="chartType"
        [data]="chartData"
        [options]="{ responsive: true, maintainAspectRatio: false }">
      </canvas>
    </div>
  </div>
</div>
