.body {
  display: flex;
  min-height: 100vh;
  height: fit-content;
  justify-content: center;
  background-color: #f0f4f8;
}

.details-container {
  flex: 1.5;
  padding: 2rem 2rem 2rem 4rem;
}

.details-container h2 {
  margin-bottom: 20px;
  color: #37474f;
}

.details-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.info p {
  margin: 10px 0;
  font-size: 1rem;
  color: #37474f;
}

.images, .documents {
  grid-column: span 2;
}

h3{
  color: #37474f;
}

.photo-box {
  display: flex;
  gap: 10px;
  overflow-x: auto;
}

.photo-box img {
  width: 80px;
  height: fit-content;
  border-radius: 6px;
  margin: 0 20px;
  transition: width 0.5s;
}

.photo-box img:hover {
  box-shadow: 0 0 10px #3c3c3c;
  width: 150px;
}

.document-box ul {
  list-style-type: none;
  padding: 0;
}

.document-box li {
  margin: 10px 0;
}

.doc-btn{
  color: #0288d1;
  text-decoration: none;
  font-weight: bold;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
  cursor: pointer;
}

.doc-btn:hover {
  text-decoration: underline;
  transition: 0.3s;
}

.admin-container{
  flex: 1;
  padding: 2rem 4rem 2rem 2rem;
  background-color: #e3f2fd;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  color: #37474f;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #90a4ae;
  border-radius: 6px;
  resize: none;
  margin-top: 10px;
  color: #37474f;
}

textarea:focus {
  border-color: #37474f;
  outline: none;
}

.buttons{
  display: flex;
  justify-content: center;
}

.btn {
  padding: 10px 20px;
  margin: 40px 20px 20px;
  border: none;
  border-radius: 6px;
  background-color: #0288d1;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 150px;
}

.btn:hover {
  background-color: #01579b;
}
