<app-navbar-admin></app-navbar-admin>

<div *ngFor="let request of pendingRequests" class="request-card">
  <div class="request-header">
    <h3>Request #{{ request.id }}</h3>
    <span class="status-badge pending">{{ request.status | capitalizeEnum}}</span>
  </div>

  <div class="request-details">
    <p><b>User ID:</b> {{ request.userId }}</p>
    <p><b>Household ID:</b> {{ request.householdId }}</p>
  </div>


  <div class="file-list">
    <h4>Submitted Files</h4>
    <button (click)="loadSubmittedFiles(request.id)">View Files</button>
    <ul *ngIf="request.files">
      <li *ngFor="let file of request.files">
        <a [href]="file.url" target="_blank">{{ file.fileName }}</a>
      </li>
    </ul>

  </div>


  <label *ngIf="!request.approved" class="reason-label">
    Rejection Reason:
    <textarea [(ngModel)]="request.reason" placeholder="Provide reason for rejection"></textarea>
  </label>

  <div class="action-buttons">
    <button (click)="submitRequestDecision(request.id, true)" class="approve-button">Approve</button>
    <button (click)="submitRequestDecision(request.id, false, request.reason)" class="reject-button">Reject</button>
  </div>
</div>

